.main-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    min-height: 100vh;
}

.heading{
    font-family: "Bree Serif";
    font-size: 34px;
    font-weight: 900;
    color:#4c63b6;
}

.notes-container{
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    width: 80%;
    border-radius: 8px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.input{
    border: none;
    outline: none;
    font-family: "Roboto";
    font-size: 18px;
    color: #334155;
    margin-bottom: 30px;
}

.btn{
    background-color: #4c63b6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}

.empty-item-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-img{
    width: 150px;
    height: 150px;
}

.items-heading{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    color: #475569;
}

.items-description{
    font-family: "Roboto";
    color: #475569;
    margin-top: 0;
}

.items-container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin-top: 40px;
    width: 80%;
}