.item-container {
    margin: 0;
}

.list-items-container {
    width: 250px;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff;
}

.item-details-container {
    display: flex;
    flex-direction: column;
}

.items-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    color: #475569;
    margin-bottom: 10px;
}

.items-description {
    font-family: "Roboto";
    color: #475569;
    margin-top: 0;
}
